In [1]:
import yfinance as yf
import re
import pandas as pd
from pandas import DataFrame, Series

In [2]:
%pylab inline
from datetime import datetime
#from yahoofinancials import YahooFinancials

Populating the interactive namespace from numpy and matplotlib

In [3]:
SP = yf.Ticker('ES=F')

In [4]:
df = SP.history(period = '7d', interval = '1m')

In [5]:
df.shape

(7497, 7)

In [6]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2021-09-08 00:00:00-04:00,4518.75,4518.75,4518.75,4518.75,0,0,0
2021-09-08 00:01:00-04:00,4518.75,4518.75,4518.75,4518.75,70,0,0
2021-09-08 00:02:00-04:00,4518.75,4518.75,4518.75,4518.75,91,0,0
2021-09-08 00:03:00-04:00,4518.75,4518.75,4518.75,4518.75,50,0,0
2021-09-08 00:04:00-04:00,4518.75,4518.75,4518.75,4518.75,21,0,0
...,...,...,...,...,...,...,...
2021-09-15 12:45:00-04:00,4473.00,4473.25,4469.75,4470.50,4900,0,0
2021-09-15 12:46:00-04:00,4470.75,4471.75,4470.00,4471.50,2384,0,0
2021-09-15 12:47:00-04:00,4471.25,4471.25,4470.00,4470.25,832,0,0
2021-09-15 12:48:00-04:00,4470.25,4471.25,4470.25,4471.25,0,0,0
2021-09-15 12:48:09-04:00,4470.50,4470.50,4470.50,4470.50,0,0,0

In [7]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM, BatchNormalization
from tensorflow.keras.callbacks import TensorBoard, ModelCheckpoint
from tensorflow.keras.layers import LeakyReLU

In [8]:
RNN_df = df[['Close', 'Volume']]
RNN_df

                             Close  Volume
Datetime
2021-09-08 00:00:00-04:00  4518.75       0
2021-09-08 00:01:00-04:00  4518.75      70
2021-09-08 00:02:00-04:00  4518.75      91
2021-09-08 00:03:00-04:00  4518.75      50
2021-09-08 00:04:00-04:00  4518.75      21
...                            ...     ...
2021-09-15 12:45:00-04:00  4470.50    4900
2021-09-15 12:46:00-04:00  4471.50    2384
2021-09-15 12:47:00-04:00  4470.25     832
2021-09-15 12:48:00-04:00  4471.25       0
2021-09-15 12:48:09-04:00  4470.50       0

[7497 rows x 2 columns]

In [9]:
#notes for prediction
seq_len = 60
future_period_predict = 2
ratio_to_predict= 'ES' 

#classification target
def classify(current, dollar_change):
    tot_change=0
    for x in RNN_df['dollar_change']:
        tot_change = tot_change + x
        if dollar_change >= 1:
            return 1
        elif dollar_change <= -0.5:
            return 0 
        elif tot_change<0:
            tot_change=0
            continue
        else:
            continue
#shift timeseries down 3 spots for 3 hour prediction
dollar_change = ((RNN_df['Close'].shift(-future_period_predict))-RNN_df['Close'])

#create a 3 hour future column
RNN_df["dollar_change"] = dollar_change
RNN_df['Future'] = RNN_df['Close'].shift(-future_period_predict)
#RNN_df['Future double'] = RNN_df['Close'].shift(-future_period_predict*5)
RNN_df

C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                             Close  Volume  dollar_change   Future
Datetime
2021-09-08 00:00:00-04:00  4518.75       0           0.00  4518.75
2021-09-08 00:01:00-04:00  4518.75      70           0.00  4518.75
2021-09-08 00:02:00-04:00  4518.75      91           0.00  4518.75
2021-09-08 00:03:00-04:00  4518.75      50           0.00  4518.75
2021-09-08 00:04:00-04:00  4518.75      21           0.00  4518.75
...                            ...     ...            ...      ...
2021-09-15 12:45:00-04:00  4470.50    4900          -0.25  4470.25
2021-09-15 12:46:00-04:00  4471.50    2384          -0.25  4471.25
2021-09-15 12:47:00-04:00  4470.25     832           0.25  4470.50
2021-09-15 12:48:00-04:00  4471.25       0            NaN      NaN
2021-09-15 12:48:09-04:00  4470.50       0            NaN      NaN

[7497 rows x 4 columns]

In [10]:
RNN_df=RNN_df.dropna()

#send close and 3d future to classify function
def grab_arguments(s):
    return classify(s[0],s[1])

#create a classification
RNN_df['target'] = RNN_df[['Close','dollar_change']].T.apply(grab_arguments)

C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
RNN_df

                             Close  Volume  dollar_change   Future  target
Datetime
2021-09-08 00:00:00-04:00  4518.75       0           0.00  4518.75     NaN
2021-09-08 00:01:00-04:00  4518.75      70           0.00  4518.75     NaN
2021-09-08 00:02:00-04:00  4518.75      91           0.00  4518.75     NaN
2021-09-08 00:03:00-04:00  4518.75      50           0.00  4518.75     NaN
2021-09-08 00:04:00-04:00  4518.75      21           0.00  4518.75     NaN
...                            ...     ...            ...      ...     ...
2021-09-15 12:43:00-04:00  4473.75    1898          -3.25  4470.50     0.0
2021-09-15 12:44:00-04:00  4472.75    5856          -1.25  4471.50     0.0
2021-09-15 12:45:00-04:00  4470.50    4900          -0.25  4470.25     NaN
2021-09-15 12:46:00-04:00  4471.50    2384          -0.25  4471.25     NaN
2021-09-15 12:47:00-04:00  4470.25     832           0.25  4470.50     NaN

[7495 rows x 5 columns]

In [12]:

#mask= (RNN_df['target'] == 0) or (RNN_df['target'] == 1)
RNN_df = RNN_df.fillna(0)
RNN_df = RNN_df.T.drop(['Future']).T
RNN_df = RNN_df.T.drop(['dollar_change']).T
#train_set = train_set.T.drop(['Future']).T
#test_set = test_set.T.drop(['Future']).T
#train_set = train_set.T.drop(['dollar_change']).T
#test_set = test_set.T.drop(['dollar_change']).T
RNN_df

                             Close  Volume  target
Datetime
2021-09-08 00:00:00-04:00  4518.75     0.0     0.0
2021-09-08 00:01:00-04:00  4518.75    70.0     0.0
2021-09-08 00:02:00-04:00  4518.75    91.0     0.0
2021-09-08 00:03:00-04:00  4518.75    50.0     0.0
2021-09-08 00:04:00-04:00  4518.75    21.0     0.0
...                            ...     ...     ...
2021-09-15 12:43:00-04:00  4473.75  1898.0     0.0
2021-09-15 12:44:00-04:00  4472.75  5856.0     0.0
2021-09-15 12:45:00-04:00  4470.50  4900.0     0.0
2021-09-15 12:46:00-04:00  4471.50  2384.0     0.0
2021-09-15 12:47:00-04:00  4470.25   832.0     0.0

[7495 rows x 3 columns]

In [13]:
################################
##split into train and test set
#############################

#make sure index is sorted. probs already was
times = sorted(RNN_df.index)

# last 5% of time as test set
last_10pct = times[-int(0.1*len(times))]
print(last_10pct)

2021-09-14 23:53:00-04:00

In [14]:
# test set is last 10% and beyond
test_set = RNN_df[RNN_df.index >= last_10pct]
test_set
#train set is anything under the last 10%
train_set =RNN_df[(RNN_df.index < last_10pct)]
train_set

                             Close  Volume  target
Datetime
2021-09-08 00:00:00-04:00  4518.75     0.0     0.0
2021-09-08 00:01:00-04:00  4518.75    70.0     0.0
2021-09-08 00:02:00-04:00  4518.75    91.0     0.0
2021-09-08 00:03:00-04:00  4518.75    50.0     0.0
2021-09-08 00:04:00-04:00  4518.75    21.0     0.0
...                            ...     ...     ...
2021-09-14 23:48:00-04:00  4449.50    10.0     0.0
2021-09-14 23:49:00-04:00  4450.00     5.0     0.0
2021-09-14 23:50:00-04:00  4449.25    21.0     0.0
2021-09-14 23:51:00-04:00  4449.25    33.0     1.0
2021-09-14 23:52:00-04:00  4450.00    15.0     0.0

[6746 rows x 3 columns]

In [15]:
#Drop the right answer, 3 hour future
#train_set = train_set.T.drop(['Future']).T
#test_set = test_set.T.drop(['Future']).T
#train_set = train_set.T.drop(['dollar_change']).T
#test_set = test_set.T.drop(['dollar_change']).T
len(train_set)
len(test_set)

747

In [16]:
#test_set

In [15]:
## check for infinte values in your data

#train_set['Volume'].preprocessing.scale(train_set['Volume'])
import numpy as np
#check for inf as well as -inf
#mask1 = isinf(-train_set['Volume'])
#train_set[mask1]


#mask = isinf(test_set['Volume'])
#test_set[mask]

# mask = train_set['Volume'] == float(inf)
# train_set[mask]= 0

train_set.loc[(train_set['Volume'] == float("inf")),'Volume']=0
train_set[train_set["Volume"] == 0]

test_set.loc[(test_set['Volume'] == float("inf")),'Volume']=0
test_set[test_set["Volume"] == 0]

# Replacing infinite with nan
#train_set.replace([np.inf, -np.inf], np.nan, inplace=True)
  
# Dropping all the rows with nan values
#train_set.dropna(inplace=True)
  
# Printing df


# Replacing infinite with nan
#test_set.replace([np.inf, -np.inf], np.nan, inplace=True)
  
# Dropping all the rows with nan values
#test_set.dropna(inplace=True)
  
# Printing df
#len(test_set)
#len(train_set)
#find the infinite values to get rid of
# 2021-05-05 13:30:00-04:00
#train_set.T["2021-05-05 13:30:00-04:00"]
#drop that index or indices
#RNN_df=RNN_df[~RNN_df.isin([np.nan, np.inf, -np.inf]).any(1)]
#len(RNN_df)

C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

Empty DataFrame
Columns: [Close, Volume, target]
Index: []

In [16]:
mask = (test_set['Volume'] == float("inf"))
test_set[mask]

Empty DataFrame
Columns: [Close, Volume, target]
Index: []

In [17]:
#train_set = train_set.drop('2019-12-02 09:30:00-05:00')
#train_set = train_set.drop('2019-12-26 09:30:00-05:00')
#train_set = train_set.drop('2020-05-14 12:30:00-04:00')
#train_set = train_set.drop('2020-12-28 09:30:00-05:00')
#train_set = train_set.drop('2021-05-05 14:30:00-04:00')
#train_set = train_set.drop('2020-11-30 09:30:00-05:00')

In [18]:
###################
#Preprocessing - scale and normalize
#####################

#import preprocessing
from sklearn import preprocessing

# import deque continual appending to list and maintains list len
from collections import deque

import numpy as np
import random

def preprocess_df(df):
    df.dropna(inplace=True)
    
    for col in df:
        
        if col != "target":
            #normalize with % change 
            df[col] = df[col].pct_change()
            df.dropna(inplace=True)
            #scale the data
            df.loc[(df['Volume'] == float("inf")),'Volume']=0
            #print(df[df[col] == float("inf")])
            df[col]= preprocessing.scale(df[col].values)
        
    
    df.dropna(inplace = True)
    
    sequential_data = []
    #maintain the seq_len
    prev_days = deque(maxlen=seq_len)
    #turns df into a list of lists
    for i in df.values:
        # take each value except for target col in list
        prev_days.append([n for n in i[:-1]])
        #print(len(prev_days))
        if len(prev_days) == seq_len:
            sequential_data.append([np.array(prev_days), i[-1]])
            #print(sequential_data)
    
    random.shuffle(sequential_data)  
    
    #####################
    ### Balance the Data 
    ######################

    buys = []
    sells = []
    for seq, target in sequential_data:
        if target == 0:
            sells.append([seq,target])
        elif target ==1:
            buys.append([seq,target])
     
    random.shuffle(buys)
    random.shuffle(sells)
    
    lower = min(len(buys), len(sells)) 
    buys = buys[:lower]
    sells = sells[:lower]
    #print(sells)
    sequential_data = buys+sells
    
    random.shuffle(sequential_data)
    
    x = []
    y = []
    
    for seq, target in sequential_data:
        x.append(seq)
        y.append(target)
        
    return np.array(x), y 

#preprocess_df(train_set)
train_x, train_y = preprocess_df(train_set)
test_x, test_y = preprocess_df(test_set)

C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
count = 0
for i in test_y:
    if i == 0:
        count+=1

count

140

In [21]:
RNN_df

                             Close   Volume  target
Datetime
2021-09-01 00:00:00-04:00  4532.25      0.0     0.0
2021-09-01 00:01:00-04:00  4532.25     48.0     0.0
2021-09-01 00:02:00-04:00  4532.25     49.0     0.0
2021-09-01 00:03:00-04:00  4532.25     46.0     0.0
2021-09-01 00:04:00-04:00  4532.25     99.0     0.0
...                            ...      ...     ...
2021-09-09 12:17:00-04:00  4508.50   4126.0     1.0
2021-09-09 12:18:00-04:00  4508.75   2204.0     1.0
2021-09-09 12:19:00-04:00  4511.25  11427.0     0.0
2021-09-09 12:20:00-04:00  4511.75   2407.0     0.0
2021-09-09 12:21:00-04:00  4511.25   1443.0     0.0

[7473 rows x 3 columns]

In [22]:
print(f"train data:{len(train_x)} validation: {len(test_x)}")

train data:1236 validation: 248

In [23]:
print(f"Dont buys:{train_y.count(0)}, buys:{train_y.count(1)}")

Dont buys:618, buys:618

In [24]:
print(f"VALIDATION Dont buys: {test_y.count(0)}, buys: {test_y.count(1)}")

VALIDATION Dont buys: 124, buys: 124

In [25]:

epochs = 100

batch_size = 64

In [26]:
# check to make sure training and test set are numpy arrays
test_y = np.asarray(test_y)
train_y = np.asarray(train_y)

In [35]:
from datetime import datetime

def build_model():
    model = Sequential()
    model.add(LSTM(128, input_shape= (train_x.shape[1:]), return_sequences=True))
    model.add(Dropout(0.2))
    model.add(BatchNormalization())

    model.add(LSTM(128, input_shape= (train_x.shape[1:]), return_sequences=True))
    model.add(Dropout(0.1))
    model.add(BatchNormalization())

    model.add(LSTM(128, input_shape= (train_x.shape[1:])))
    model.add(Dropout(0.2))
    model.add(BatchNormalization())

    model.add(tf.keras.layers.Flatten())
    #dense layer activation rectified linear

    model.add(Dense(32, activation ='relu'))
    model.add(Dropout(0.2))

    #output layer
    model.add(Dense(2, activation = 'softmax'))
    return model

def train(lr, decay, opt_name, epochs = 100, batch_size = 64):

    model = build_model()
    if opt_name.lower() == "sgd":
        opt = tf.keras.optimizers.SGD(lr= lr, decay=decay)
    else:
        opt = tf.keras.optimizers.Adam(lr= lr, decay=decay)
    
    model.compile(loss='sparse_categorical_crossentropy',
                optimizer = opt,
                metrics= ['accuracy'])

    # tensorboard = TensorBoard(log_dir = f'log/{name}')
    now = datetime.now().strftime("%m0%d-%Y-%H-%M-%S")
    name = f"lr--{lr}--decay--{decay}-opt-{opt_name}--datetime-{now}"

    tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir = f'log/{name}')

    history = model.fit(
                train_x, train_y,
                batch_size=batch_size,
                epochs=epochs,
                validation_data=(test_x, test_y),
                callbacks=[tensorboard_callback])
    # model.save('')

In [36]:
train(.01, 1e-3, "adam")

Epoch 1/100
20/20 [==============================] - 23s 659ms/step - loss: 1.0730 - accuracy: 0.5400 - val_loss: 0.7184 - val_accuracy: 0.5040
Epoch 2/100
20/20 [==============================] - 8s 427ms/step - loss: 0.7194 - accuracy: 0.5669 - val_loss: 0.6958 - val_accuracy: 0.5000
Epoch 3/100
20/20 [==============================] - 10s 530ms/step - loss: 0.6550 - accuracy: 0.6456 - val_loss: 0.8722 - val_accuracy: 0.5000
Epoch 4/100
20/20 [==============================] - 9s 443ms/step - loss: 0.6236 - accuracy: 0.6570 - val_loss: 0.8411 - val_accuracy: 0.5000
Epoch 5/100
20/20 [==============================] - 8s 426ms/step - loss: 0.6125 - accuracy: 0.6771 - val_loss: 0.7567 - val_accuracy: 0.5000
Epoch 6/100
20/20 [==============================] - 8s 391ms/step - loss: 0.6297 - accuracy: 0.6650 - val_loss: 0.8667 - val_accuracy: 0.5000
Epoch 7/100
20/20 [==============================] - 8s 406ms/step - loss: 0.6202 - accuracy: 0.6644 - val_loss: 0.8198 - val_accuracy: 0.5000
Epoch 8/100
20/20 [==============================] - 8s 391ms/step - loss: 0.6124 - accuracy: 0.6722 - val_loss: 0.6905 - val_accuracy: 0.5242
Epoch 9/100
20/20 [==============================] - 8s 398ms/step - loss: 0.6134 - accuracy: 0.6750 - val_loss: 0.7597 - val_accuracy: 0.5000
Epoch 10/100
20/20 [==============================] - 8s 387ms/step - loss: 0.6013 - accuracy: 0.6814 - val_loss: 0.7185 - val_accuracy: 0.5161
Epoch 11/100
20/20 [==============================] - 8s 403ms/step - loss: 0.5945 - accuracy: 0.7021 - val_loss: 0.8250 - val_accuracy: 0.5000
Epoch 12/100
20/20 [==============================] - 8s 408ms/step - loss: 0.5923 - accuracy: 0.7004 - val_loss: 0.7122 - val_accuracy: 0.4839
Epoch 13/100
20/20 [==============================] - 8s 413ms/step - loss: 0.6020 - accuracy: 0.6691 - val_loss: 0.6935 - val_accuracy: 0.5121
Epoch 14/100
20/20 [==============================] - 10s 510ms/step - loss: 0.5716 - accuracy: 0.7208 - val_loss: 0.6978 - val_accuracy: 0.5121
Epoch 15/100
20/20 [==============================] - 10s 496ms/step - loss: 0.5761 - accuracy: 0.7012 - val_loss: 0.8875 - val_accuracy: 0.5161
Epoch 16/100
20/20 [==============================] - 10s 506ms/step - loss: 0.5745 - accuracy: 0.6894 - val_loss: 0.6626 - val_accuracy: 0.5806
Epoch 17/100
20/20 [==============================] - 9s 464ms/step - loss: 0.5654 - accuracy: 0.7137 - val_loss: 0.7100 - val_accuracy: 0.6250
Epoch 18/100
20/20 [==============================] - 9s 434ms/step - loss: 0.5625 - accuracy: 0.7051 - val_loss: 0.7450 - val_accuracy: 0.5565
Epoch 19/100
20/20 [==============================] - 8s 414ms/step - loss: 0.5528 - accuracy: 0.7279 - val_loss: 0.7099 - val_accuracy: 0.5524
Epoch 20/100
20/20 [==============================] - 7s 356ms/step - loss: 0.5515 - accuracy: 0.7063 - val_loss: 0.7662 - val_accuracy: 0.5242
Epoch 21/100
20/20 [==============================] - 7s 348ms/step - loss: 0.5567 - accuracy: 0.7020 - val_loss: 0.7524 - val_accuracy: 0.5524
Epoch 22/100
20/20 [==============================] - 12s 619ms/step - loss: 0.5386 - accuracy: 0.7055 - val_loss: 0.7905 - val_accuracy: 0.5444
Epoch 23/100
20/20 [==============================] - 12s 620ms/step - loss: 0.5243 - accuracy: 0.7071 - val_loss: 0.7116 - val_accuracy: 0.5121
Epoch 24/100
20/20 [==============================] - 12s 590ms/step - loss: 0.5360 - accuracy: 0.7065 - val_loss: 0.7827 - val_accuracy: 0.5565
Epoch 25/100
20/20 [==============================] - 9s 460ms/step - loss: 0.5334 - accuracy: 0.7306 - val_loss: 0.7347 - val_accuracy: 0.5444
Epoch 26/100
20/20 [==============================] - 8s 428ms/step - loss: 0.5173 - accuracy: 0.7346 - val_loss: 0.7180 - val_accuracy: 0.5766
Epoch 27/100
20/20 [==============================] - 8s 382ms/step - loss: 0.5470 - accuracy: 0.7247 - val_loss: 0.7103 - val_accuracy: 0.5766
Epoch 28/100
20/20 [==============================] - 14s 714ms/step - loss: 0.5387 - accuracy: 0.7120 - val_loss: 0.7215 - val_accuracy: 0.5927
Epoch 29/100
20/20 [==============================] - 10s 510ms/step - loss: 0.4844 - accuracy: 0.7413 - val_loss: 0.7135 - val_accuracy: 0.5806
Epoch 30/100
20/20 [==============================] - 7s 342ms/step - loss: 0.4800 - accuracy: 0.7405 - val_loss: 0.7749 - val_accuracy: 0.5323
Epoch 31/100
20/20 [==============================] - 13s 665ms/step - loss: 0.4880 - accuracy: 0.7268 - val_loss: 0.7059 - val_accuracy: 0.6371
Epoch 32/100
20/20 [==============================] - 11s 527ms/step - loss: 0.5219 - accuracy: 0.7275 - val_loss: 0.7516 - val_accuracy: 0.6210
Epoch 33/100
20/20 [==============================] - 9s 435ms/step - loss: 0.4846 - accuracy: 0.7652 - val_loss: 0.8546 - val_accuracy: 0.5766
Epoch 34/100
20/20 [==============================] - 7s 360ms/step - loss: 0.5004 - accuracy: 0.7361 - val_loss: 0.8568 - val_accuracy: 0.6331
Epoch 35/100
20/20 [==============================] - 7s 367ms/step - loss: 0.4455 - accuracy: 0.7678 - val_loss: 0.8451 - val_accuracy: 0.5927
Epoch 36/100
20/20 [==============================] - 10s 515ms/step - loss: 0.4712 - accuracy: 0.7594 - val_loss: 0.7034 - val_accuracy: 0.6210
Epoch 37/100
20/20 [==============================] - 12s 590ms/step - loss: 0.4799 - accuracy: 0.7574 - val_loss: 0.9607 - val_accuracy: 0.6048
Epoch 38/100
20/20 [==============================] - 11s 466ms/step - loss: 0.4429 - accuracy: 0.7609 - val_loss: 0.8399 - val_accuracy: 0.5766
Epoch 39/100
20/20 [==============================] - 8s 420ms/step - loss: 0.4324 - accuracy: 0.7837 - val_loss: 0.7919 - val_accuracy: 0.5887
Epoch 40/100
20/20 [==============================] - 8s 390ms/step - loss: 0.4348 - accuracy: 0.7783 - val_loss: 0.9266 - val_accuracy: 0.6653
Epoch 41/100
20/20 [==============================] - 8s 403ms/step - loss: 0.4208 - accuracy: 0.7981 - val_loss: 0.7645 - val_accuracy: 0.6008
Epoch 42/100
20/20 [==============================] - 9s 432ms/step - loss: 0.4698 - accuracy: 0.7738 - val_loss: 0.8698 - val_accuracy: 0.6048
Epoch 43/100
20/20 [==============================] - 8s 374ms/step - loss: 0.4171 - accuracy: 0.8123 - val_loss: 0.8965 - val_accuracy: 0.5524
Epoch 44/100
20/20 [==============================] - 8s 375ms/step - loss: 0.3961 - accuracy: 0.8204 - val_loss: 0.8739 - val_accuracy: 0.5323
Epoch 45/100
20/20 [==============================] - 7s 359ms/step - loss: 0.3565 - accuracy: 0.8318 - val_loss: 1.0768 - val_accuracy: 0.5685
Epoch 46/100
20/20 [==============================] - 7s 359ms/step - loss: 0.3435 - accuracy: 0.8330 - val_loss: 1.1382 - val_accuracy: 0.5887
Epoch 47/100
20/20 [==============================] - 7s 365ms/step - loss: 0.3612 - accuracy: 0.8438 - val_loss: 1.1866 - val_accuracy: 0.5968
Epoch 48/100
20/20 [==============================] - 7s 360ms/step - loss: 0.4062 - accuracy: 0.8100 - val_loss: 0.9309 - val_accuracy: 0.5847
Epoch 49/100
20/20 [==============================] - 7s 367ms/step - loss: 0.3188 - accuracy: 0.8734 - val_loss: 1.0968 - val_accuracy: 0.6331
Epoch 50/100
20/20 [==============================] - 7s 371ms/step - loss: 0.3405 - accuracy: 0.8601 - val_loss: 0.9381 - val_accuracy: 0.6008
Epoch 51/100
20/20 [==============================] - 8s 384ms/step - loss: 0.2665 - accuracy: 0.8921 - val_loss: 1.3454 - val_accuracy: 0.5685
Epoch 52/100
20/20 [==============================] - 8s 381ms/step - loss: 0.3080 - accuracy: 0.8622 - val_loss: 0.9201 - val_accuracy: 0.6048
Epoch 53/100
20/20 [==============================] - 8s 402ms/step - loss: 0.3110 - accuracy: 0.8613 - val_loss: 1.4197 - val_accuracy: 0.6492
Epoch 54/100
20/20 [==============================] - 8s 389ms/step - loss: 0.2436 - accuracy: 0.8946 - val_loss: 1.5385 - val_accuracy: 0.6210
Epoch 55/100
20/20 [==============================] - 7s 359ms/step - loss: 0.2605 - accuracy: 0.8861 - val_loss: 1.6752 - val_accuracy: 0.5847
Epoch 56/100
20/20 [==============================] - 8s 377ms/step - loss: 0.2346 - accuracy: 0.9123 - val_loss: 1.2466 - val_accuracy: 0.5927
Epoch 57/100
20/20 [==============================] - 9s 433ms/step - loss: 0.2658 - accuracy: 0.8950 - val_loss: 1.1642 - val_accuracy: 0.5766
Epoch 58/100
20/20 [==============================] - 7s 359ms/step - loss: 0.2827 - accuracy: 0.8848 - val_loss: 1.1652 - val_accuracy: 0.6048
Epoch 59/100
20/20 [==============================] - 7s 361ms/step - loss: 0.2202 - accuracy: 0.9216 - val_loss: 1.3058 - val_accuracy: 0.6129
Epoch 60/100
20/20 [==============================] - 7s 366ms/step - loss: 0.2506 - accuracy: 0.9039 - val_loss: 1.2580 - val_accuracy: 0.5927
Epoch 61/100
20/20 [==============================] - 7s 369ms/step - loss: 0.2048 - accuracy: 0.9153 - val_loss: 1.3404 - val_accuracy: 0.6129
Epoch 62/100
20/20 [==============================] - 8s 419ms/step - loss: 0.1952 - accuracy: 0.9172 - val_loss: 1.2304 - val_accuracy: 0.6048
Epoch 63/100
20/20 [==============================] - 9s 449ms/step - loss: 0.2253 - accuracy: 0.9114 - val_loss: 1.4433 - val_accuracy: 0.5968
Epoch 64/100
20/20 [==============================] - 7s 348ms/step - loss: 0.1965 - accuracy: 0.9316 - val_loss: 1.4281 - val_accuracy: 0.6250
Epoch 65/100
20/20 [==============================] - 7s 369ms/step - loss: 0.1589 - accuracy: 0.9411 - val_loss: 1.4609 - val_accuracy: 0.5927
Epoch 66/100
20/20 [==============================] - 8s 381ms/step - loss: 0.1503 - accuracy: 0.9498 - val_loss: 1.3395 - val_accuracy: 0.6371
Epoch 67/100
20/20 [==============================] - 7s 366ms/step - loss: 0.1783 - accuracy: 0.9233 - val_loss: 1.6370 - val_accuracy: 0.6331
Epoch 68/100
20/20 [==============================] - 8s 385ms/step - loss: 0.1544 - accuracy: 0.9468 - val_loss: 1.6823 - val_accuracy: 0.5927
Epoch 69/100
20/20 [==============================] - 8s 417ms/step - loss: 0.1540 - accuracy: 0.9340 - val_loss: 1.7462 - val_accuracy: 0.5887
Epoch 70/100
20/20 [==============================] - 7s 362ms/step - loss: 0.1561 - accuracy: 0.9371 - val_loss: 1.4992 - val_accuracy: 0.5685
Epoch 71/100
20/20 [==============================] - 7s 362ms/step - loss: 0.1495 - accuracy: 0.9413 - val_loss: 1.4820 - val_accuracy: 0.5927
Epoch 72/100
20/20 [==============================] - 7s 368ms/step - loss: 0.1350 - accuracy: 0.9609 - val_loss: 1.5490 - val_accuracy: 0.5726
Epoch 73/100
20/20 [==============================] - 7s 376ms/step - loss: 0.1338 - accuracy: 0.9473 - val_loss: 1.4729 - val_accuracy: 0.6129
Epoch 74/100
20/20 [==============================] - 7s 367ms/step - loss: 0.1852 - accuracy: 0.9245 - val_loss: 1.4762 - val_accuracy: 0.5887
Epoch 75/100
20/20 [==============================] - 8s 381ms/step - loss: 0.1834 - accuracy: 0.9311 - val_loss: 1.3596 - val_accuracy: 0.5847
Epoch 76/100
20/20 [==============================] - 8s 384ms/step - loss: 0.1670 - accuracy: 0.9280 - val_loss: 1.4598 - val_accuracy: 0.6169
Epoch 77/100
20/20 [==============================] - 7s 371ms/step - loss: 0.1499 - accuracy: 0.9464 - val_loss: 1.5405 - val_accuracy: 0.5806
Epoch 78/100
20/20 [==============================] - 7s 365ms/step - loss: 0.1345 - accuracy: 0.9481 - val_loss: 1.6531 - val_accuracy: 0.6008
Epoch 79/100
20/20 [==============================] - 7s 366ms/step - loss: 0.0931 - accuracy: 0.9701 - val_loss: 1.9846 - val_accuracy: 0.6129
Epoch 80/100
20/20 [==============================] - 7s 366ms/step - loss: 0.0890 - accuracy: 0.9727 - val_loss: 1.8211 - val_accuracy: 0.6290
Epoch 81/100
20/20 [==============================] - 9s 452ms/step - loss: 0.0995 - accuracy: 0.9679 - val_loss: 1.8664 - val_accuracy: 0.6048
Epoch 82/100
20/20 [==============================] - 9s 435ms/step - loss: 0.1163 - accuracy: 0.9518 - val_loss: 1.7039 - val_accuracy: 0.6250
Epoch 83/100
20/20 [==============================] - 8s 404ms/step - loss: 0.1311 - accuracy: 0.9568 - val_loss: 1.3381 - val_accuracy: 0.6653
Epoch 84/100
20/20 [==============================] - 9s 469ms/step - loss: 0.1124 - accuracy: 0.9461 - val_loss: 1.6127 - val_accuracy: 0.6048
Epoch 85/100
20/20 [==============================] - 10s 499ms/step - loss: 0.0895 - accuracy: 0.9692 - val_loss: 1.8965 - val_accuracy: 0.5968
Epoch 86/100
20/20 [==============================] - 7s 365ms/step - loss: 0.0960 - accuracy: 0.9554 - val_loss: 2.3939 - val_accuracy: 0.5484
Epoch 87/100
20/20 [==============================] - 9s 434ms/step - loss: 0.1057 - accuracy: 0.9685 - val_loss: 1.5809 - val_accuracy: 0.6129
Epoch 88/100
20/20 [==============================] - 9s 403ms/step - loss: 0.0783 - accuracy: 0.9734 - val_loss: 1.7674 - val_accuracy: 0.5927
Epoch 89/100
20/20 [==============================] - 9s 431ms/step - loss: 0.1105 - accuracy: 0.9646 - val_loss: 1.7704 - val_accuracy: 0.5806
Epoch 90/100
20/20 [==============================] - 7s 350ms/step - loss: 0.0651 - accuracy: 0.9775 - val_loss: 1.7695 - val_accuracy: 0.5726
Epoch 91/100
20/20 [==============================] - 7s 344ms/step - loss: 0.0653 - accuracy: 0.9791 - val_loss: 1.9263 - val_accuracy: 0.5927
Epoch 92/100
20/20 [==============================] - 7s 342ms/step - loss: 0.0561 - accuracy: 0.9794 - val_loss: 1.8754 - val_accuracy: 0.6210
Epoch 93/100
20/20 [==============================] - 7s 338ms/step - loss: 0.1028 - accuracy: 0.9670 - val_loss: 1.7118 - val_accuracy: 0.5968
Epoch 94/100
20/20 [==============================] - 8s 395ms/step - loss: 0.0958 - accuracy: 0.9643 - val_loss: 1.7032 - val_accuracy: 0.6089
Epoch 95/100
20/20 [==============================] - 9s 438ms/step - loss: 0.1163 - accuracy: 0.9547 - val_loss: 1.8032 - val_accuracy: 0.5484
Epoch 96/100
20/20 [==============================] - 7s 342ms/step - loss: 0.0844 - accuracy: 0.9678 - val_loss: 1.7229 - val_accuracy: 0.5726
Epoch 97/100
20/20 [==============================] - 9s 477ms/step - loss: 0.0605 - accuracy: 0.9808 - val_loss: 1.8688 - val_accuracy: 0.5685
Epoch 98/100
20/20 [==============================] - 10s 526ms/step - loss: 0.0701 - accuracy: 0.9792 - val_loss: 2.0362 - val_accuracy: 0.5565
Epoch 99/100
20/20 [==============================] - 13s 659ms/step - loss: 0.0535 - accuracy: 0.9831 - val_loss: 1.9867 - val_accuracy: 0.5968
Epoch 100/100
20/20 [==============================] - 10s 477ms/step - loss: 0.0709 - accuracy: 0.9795 - val_loss: 2.1383 - val_accuracy: 0.5968