In [1]:
import yfinance as yf
import re
import pandas as pd
from pandas import DataFrame, Series

In [2]:
%pylab inline
from datetime import datetime
#from yahoofinancials import YahooFinancials

Populating the interactive namespace from numpy and matplotlib

In [3]:
SP = yf.Ticker('ES=F')

In [4]:
df = SP.history(period = '7d', interval = '1m')

In [5]:
df.shape

(7280, 7)

In [6]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2021-09-17 00:01:00-04:00,4474.50,4474.50,4474.50,4474.50,0,0,0
2021-09-17 00:07:00-04:00,4474.50,4474.50,4474.50,4474.50,6,0,0
2021-09-17 00:08:00-04:00,4474.50,4474.50,4474.50,4474.50,4,0,0
2021-09-17 00:09:00-04:00,4475.25,4475.25,4475.25,4475.25,4,0,0
2021-09-17 00:12:00-04:00,4475.25,4475.50,4475.25,4475.50,3,0,0
...,...,...,...,...,...,...,...
2021-09-24 16:55:00-04:00,4445.75,4446.00,4445.50,4446.00,203,0,0
2021-09-24 16:56:00-04:00,4445.75,4446.00,4445.75,4445.75,151,0,0
2021-09-24 16:57:00-04:00,4445.75,4446.00,4445.50,4446.00,117,0,0
2021-09-24 16:58:00-04:00,4446.00,4446.00,4445.75,4446.00,187,0,0
2021-09-24 16:59:00-04:00,4446.00,4446.25,4445.75,4446.00,516,0,0

In [7]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM, BatchNormalization
from tensorflow.keras.callbacks import TensorBoard, ModelCheckpoint
from tensorflow.keras.layers import LeakyReLU

In [8]:
RNN_df = df[['Close', 'Volume']]
RNN_df

                             Close  Volume
Datetime
2021-09-17 00:01:00-04:00  4474.50       0
2021-09-17 00:07:00-04:00  4474.50       6
2021-09-17 00:08:00-04:00  4474.50       4
2021-09-17 00:09:00-04:00  4475.25       4
2021-09-17 00:12:00-04:00  4475.50       3
...                            ...     ...
2021-09-24 16:55:00-04:00  4446.00     203
2021-09-24 16:56:00-04:00  4445.75     151
2021-09-24 16:57:00-04:00  4446.00     117
2021-09-24 16:58:00-04:00  4446.00     187
2021-09-24 16:59:00-04:00  4446.00     516

[7280 rows x 2 columns]

In [9]:
#notes for prediction
seq_len = 60
future_period_predict = 2
ratio_to_predict= 'ES' 

#classification target
def classify(current, dollar_change, buy = 1, sell = 0.5):
    tot_change=0
    for x in RNN_df['dollar_change']:
        tot_change = tot_change + x
        if dollar_change >= buy:
            return 1
        elif dollar_change <= -sell:
            return 0 
        elif tot_change<0:
            tot_change=0
            continue
        else:
            continue
#shift timeseries down 3 spots for 3 hour prediction
dollar_change = ((RNN_df['Close'].shift(-future_period_predict))-RNN_df['Close'])

#create a 3 hour future column
RNN_df["dollar_change"] = dollar_change
RNN_df['Future'] = RNN_df['Close'].shift(-future_period_predict)
#RNN_df['Future double'] = RNN_df['Close'].shift(-future_period_predict*5)
RNN_df

C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                             Close  Volume  dollar_change   Future
Datetime
2021-09-17 00:01:00-04:00  4474.50       0           0.00  4474.50
2021-09-17 00:07:00-04:00  4474.50       6           0.75  4475.25
2021-09-17 00:08:00-04:00  4474.50       4           1.00  4475.50
2021-09-17 00:09:00-04:00  4475.25       4           0.00  4475.25
2021-09-17 00:12:00-04:00  4475.50       3          -0.25  4475.25
...                            ...     ...            ...      ...
2021-09-24 16:55:00-04:00  4446.00     203           0.00  4446.00
2021-09-24 16:56:00-04:00  4445.75     151           0.25  4446.00
2021-09-24 16:57:00-04:00  4446.00     117           0.00  4446.00
2021-09-24 16:58:00-04:00  4446.00     187            NaN      NaN
2021-09-24 16:59:00-04:00  4446.00     516            NaN      NaN

[7280 rows x 4 columns]

In [10]:
RNN_df=RNN_df.dropna()

#send close and 3d future to classify function
def grab_arguments(s):
    return classify(s[0],s[1])

#create a classification
RNN_df['target'] = RNN_df[['Close','dollar_change']].T.apply(grab_arguments)

C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
RNN_df

                             Close  Volume  dollar_change   Future  target
Datetime
2021-09-17 00:01:00-04:00  4474.50       0           0.00  4474.50     NaN
2021-09-17 00:07:00-04:00  4474.50       6           0.75  4475.25     NaN
2021-09-17 00:08:00-04:00  4474.50       4           1.00  4475.50     1.0
2021-09-17 00:09:00-04:00  4475.25       4           0.00  4475.25     NaN
2021-09-17 00:12:00-04:00  4475.50       3          -0.25  4475.25     NaN
...                            ...     ...            ...      ...     ...
2021-09-24 16:53:00-04:00  4445.75     130           0.25  4446.00     NaN
2021-09-24 16:54:00-04:00  4445.75      45           0.00  4445.75     NaN
2021-09-24 16:55:00-04:00  4446.00     203           0.00  4446.00     NaN
2021-09-24 16:56:00-04:00  4445.75     151           0.25  4446.00     NaN
2021-09-24 16:57:00-04:00  4446.00     117           0.00  4446.00     NaN

[7278 rows x 5 columns]

In [12]:

#mask= (RNN_df['target'] == 0) or (RNN_df['target'] == 1)
RNN_df = RNN_df.fillna(0)
RNN_df = RNN_df.T.drop(['Future']).T
RNN_df = RNN_df.T.drop(['dollar_change']).T
#train_set = train_set.T.drop(['Future']).T
#test_set = test_set.T.drop(['Future']).T
#train_set = train_set.T.drop(['dollar_change']).T
#test_set = test_set.T.drop(['dollar_change']).T
RNN_df

                             Close  Volume  target
Datetime
2021-09-17 00:01:00-04:00  4474.50     0.0     0.0
2021-09-17 00:07:00-04:00  4474.50     6.0     0.0
2021-09-17 00:08:00-04:00  4474.50     4.0     1.0
2021-09-17 00:09:00-04:00  4475.25     4.0     0.0
2021-09-17 00:12:00-04:00  4475.50     3.0     0.0
...                            ...     ...     ...
2021-09-24 16:53:00-04:00  4445.75   130.0     0.0
2021-09-24 16:54:00-04:00  4445.75    45.0     0.0
2021-09-24 16:55:00-04:00  4446.00   203.0     0.0
2021-09-24 16:56:00-04:00  4445.75   151.0     0.0
2021-09-24 16:57:00-04:00  4446.00   117.0     0.0

[7278 rows x 3 columns]

In [13]:
################################
##split into train and test set
#############################

#make sure index is sorted. probs already was
times = sorted(RNN_df.index)

# last 5% of time as test set
last_10pct = times[-int(0.1*len(times))]
print(last_10pct)

2021-09-24 04:42:00-04:00

In [14]:
# test set is last 10% and beyond
test_set = RNN_df[RNN_df.index >= last_10pct]
test_set
#train set is anything under the last 10%
train_set =RNN_df[(RNN_df.index < last_10pct)]
train_set

                             Close  Volume  target
Datetime
2021-09-17 00:01:00-04:00  4474.50     0.0     0.0
2021-09-17 00:07:00-04:00  4474.50     6.0     0.0
2021-09-17 00:08:00-04:00  4474.50     4.0     1.0
2021-09-17 00:09:00-04:00  4475.25     4.0     0.0
2021-09-17 00:12:00-04:00  4475.50     3.0     0.0
...                            ...     ...     ...
2021-09-24 04:37:00-04:00  4422.25   303.0     1.0
2021-09-24 04:38:00-04:00  4423.25   124.0     0.0
2021-09-24 04:39:00-04:00  4423.75    98.0     0.0
2021-09-24 04:40:00-04:00  4423.75   206.0     0.0
2021-09-24 04:41:00-04:00  4423.75   142.0     0.0

[6551 rows x 3 columns]

In [15]:
#Drop the right answer, 3 hour future
#train_set = train_set.T.drop(['Future']).T
#test_set = test_set.T.drop(['Future']).T
#train_set = train_set.T.drop(['dollar_change']).T
#test_set = test_set.T.drop(['dollar_change']).T
len(train_set)
len(test_set)

727

In [16]:
#test_set

In [17]:
## check for infinte values in your data

#train_set['Volume'].preprocessing.scale(train_set['Volume'])
import numpy as np
#check for inf as well as -inf
#mask1 = isinf(-train_set['Volume'])
#train_set[mask1]


#mask = isinf(test_set['Volume'])
#test_set[mask]

# mask = train_set['Volume'] == float(inf)
# train_set[mask]= 0

train_set.loc[(train_set['Volume'] == float("inf")),'Volume']=0
train_set[train_set["Volume"] == 0]

test_set.loc[(test_set['Volume'] == float("inf")),'Volume']=0
test_set[test_set["Volume"] == 0]

# Replacing infinite with nan
#train_set.replace([np.inf, -np.inf], np.nan, inplace=True)
  
# Dropping all the rows with nan values
#train_set.dropna(inplace=True)
  
# Printing df


# Replacing infinite with nan
#test_set.replace([np.inf, -np.inf], np.nan, inplace=True)
  
# Dropping all the rows with nan values
#test_set.dropna(inplace=True)
  
# Printing df
#len(test_set)
#len(train_set)
#find the infinite values to get rid of
# 2021-05-05 13:30:00-04:00
#train_set.T["2021-05-05 13:30:00-04:00"]
#drop that index or indices
#RNN_df=RNN_df[~RNN_df.isin([np.nan, np.inf, -np.inf]).any(1)]
#len(RNN_df)

C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

Empty DataFrame
Columns: [Close, Volume, target]
Index: []

In [18]:
mask = (test_set['Volume'] == float("inf"))
test_set[mask]

Empty DataFrame
Columns: [Close, Volume, target]
Index: []

In [19]:
#train_set = train_set.drop('2019-12-02 09:30:00-05:00')
#train_set = train_set.drop('2019-12-26 09:30:00-05:00')
#train_set = train_set.drop('2020-05-14 12:30:00-04:00')
#train_set = train_set.drop('2020-12-28 09:30:00-05:00')
#train_set = train_set.drop('2021-05-05 14:30:00-04:00')
#train_set = train_set.drop('2020-11-30 09:30:00-05:00')

In [20]:
###################
#Preprocessing - scale and normalize
#####################

#import preprocessing
from sklearn import preprocessing

# import deque continual appending to list and maintains list len
from collections import deque

import numpy as np
import random

def preprocess_df(df):
    df.dropna(inplace=True)
    
    for col in df:
        
        if col != "target":
            #normalize with % change 
            df[col] = df[col].pct_change()
            df.dropna(inplace=True)
            #scale the data
            df.loc[(df['Volume'] == float("inf")),'Volume']=0
            #print(df[df[col] == float("inf")])
            df[col]= preprocessing.scale(df[col].values)
        
    
    df.dropna(inplace = True)
    
    sequential_data = []
    #maintain the seq_len
    prev_days = deque(maxlen=seq_len)
    #turns df into a list of lists
    for i in df.values:
        # take each value except for target col in list
        prev_days.append([n for n in i[:-1]])
        #print(len(prev_days))
        if len(prev_days) == seq_len:
            sequential_data.append([np.array(prev_days), i[-1]])
            #print(sequential_data)
    
    random.shuffle(sequential_data)  
    
    
    #####################
    ### Balance the Data 
    ######################
    if len(df)>1500 and False:
        buys = []
        sells = []
        for seq, target in sequential_data:
            if target == 0:
                sells.append([seq,target])
            elif target ==1:
                buys.append([seq,target])
     
        random.shuffle(buys)
        random.shuffle(sells)
    
        lower = min(len(buys), len(sells)) 
        buys = buys[:lower]
        sells = sells[:lower]
        #print(sells)
        sequential_data = buys+sells
    
        random.shuffle(sequential_data)
    
    x = []
    y = []
    
    for seq, target in sequential_data:
        x.append(seq)
        y.append(target)
        
    return np.array(x), y 

#preprocess_df(train_set)
train_x, train_y = preprocess_df(train_set)
test_x, test_y = preprocess_df(test_set)

C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\rudra\Anaconda3\lib\site-packages\pandas\core\indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rudra\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
count = 0
for i in test_y:
    if i == 0:
        count+=1

count

508

In [23]:
RNN_df

                             Close  Volume  target
Datetime
2021-09-17 00:01:00-04:00  4474.50     0.0     0.0
2021-09-17 00:07:00-04:00  4474.50     6.0     0.0
2021-09-17 00:08:00-04:00  4474.50     4.0     1.0
2021-09-17 00:09:00-04:00  4475.25     4.0     0.0
2021-09-17 00:12:00-04:00  4475.50     3.0     0.0
...                            ...     ...     ...
2021-09-24 16:53:00-04:00  4445.75   130.0     0.0
2021-09-24 16:54:00-04:00  4445.75    45.0     0.0
2021-09-24 16:55:00-04:00  4446.00   203.0     0.0
2021-09-24 16:56:00-04:00  4445.75   151.0     0.0
2021-09-24 16:57:00-04:00  4446.00   117.0     0.0

[7278 rows x 3 columns]

In [24]:
print(f"train data:{len(train_x)} validation: {len(test_x)}")

train data:2808 validation: 666

In [47]:
print(f"Dont buys:{train_y.count(0)}, buys:{train_y.count(1)}")

Dont buys:1064, buys:1064

In [48]:
print(f"VALIDATION Dont buys: {test_y.count(0)}, buys: {test_y.count(1)}")

VALIDATION Dont buys: 543, buys: 142

In [49]:

epochs = 100

batch_size = 64

In [50]:
# check to make sure training and test set are numpy arrays
test_y = np.asarray(test_y)
train_y = np.asarray(train_y)

In [51]:
from datetime import datetime

def build_model():
    model = Sequential()
    model.add(LSTM(128, input_shape= (train_x.shape[1:]), return_sequences=True))
    model.add(Dropout(0.2))
    model.add(BatchNormalization())

    model.add(LSTM(128, input_shape= (train_x.shape[1:]), return_sequences=True))
    model.add(Dropout(0.1))
    model.add(BatchNormalization())

    model.add(LSTM(128, input_shape= (train_x.shape[1:])))
    model.add(Dropout(0.2))
    model.add(BatchNormalization())

    model.add(tf.keras.layers.Flatten())
    #dense layer activation rectified linear

    model.add(Dense(32, activation ='relu'))
    model.add(Dropout(0.2))

    #output layer
    model.add(Dense(2, activation = 'softmax'))
    return model

def train(lr, decay, opt_name, epochs = 100, batch_size = 64):

    model = build_model()
    if opt_name.lower() == "sgd":
        opt = tf.keras.optimizers.SGD(lr= lr, decay=decay)
    else:
        opt = tf.keras.optimizers.Adam(lr= lr, decay=decay)
    
    model.compile(loss='sparse_categorical_crossentropy',
                optimizer = opt,
                metrics= ['accuracy'])

    # tensorboard = TensorBoard(log_dir = f'log/{name}')
    now = datetime.now().strftime("%m0%d-%Y-%H-%M-%S")
    name = f"lr--{lr}--decay--{decay}-opt-{opt_name}--datetime-{now}"

    tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir = f'log/{name}')

    history = model.fit(
                train_x, train_y,
                batch_size=batch_size,
                epochs=epochs,
                validation_data=(test_x, test_y),
                callbacks=[tensorboard_callback])
    # model.save('')

In [53]:
train(.03, 1e-3, "adam")

Epoch 1/100
 2/34 [>.............................] - ETA: 1:40 - loss: 1.1101 - accuracy: 0.4844WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.4172s vs `on_train_batch_end` time: 5.8576s). Check your callbacks.
34/34 [==============================] - 22s 647ms/step - loss: 0.8623 - accuracy: 0.4962 - val_loss: 0.7385 - val_accuracy: 0.2073
Epoch 2/100
34/34 [==============================] - 14s 411ms/step - loss: 0.7001 - accuracy: 0.4892 - val_loss: 0.6800 - val_accuracy: 0.7927
Epoch 3/100
34/34 [==============================] - 15s 434ms/step - loss: 0.6930 - accuracy: 0.5056 - val_loss: 0.6924 - val_accuracy: 0.7854
Epoch 4/100
34/34 [==============================] - 14s 418ms/step - loss: 0.6963 - accuracy: 0.5113 - val_loss: 0.7123 - val_accuracy: 0.2073
Epoch 5/100
34/34 [==============================] - 14s 413ms/step - loss: 0.6940 - accuracy: 0.4883 - val_loss: 0.6924 - val_accuracy: 0.7927
Epoch 6/100
34/34 [==============================] - 14s 421ms/step - loss: 0.6932 - accuracy: 0.5019 - val_loss: 0.7144 - val_accuracy: 0.2102
Epoch 7/100
34/34 [==============================] - 15s 438ms/step - loss: 0.6951 - accuracy: 0.4831 - val_loss: 0.7178 - val_accuracy: 0.2073
Epoch 8/100
34/34 [==============================] - 14s 412ms/step - loss: 0.6942 - accuracy: 0.4854 - val_loss: 0.6974 - val_accuracy: 0.2088
Epoch 9/100
34/34 [==============================] - 14s 407ms/step - loss: 0.6931 - accuracy: 0.5070 - val_loss: 0.6764 - val_accuracy: 0.7854
Epoch 10/100
34/34 [==============================] - 14s 414ms/step - loss: 0.6941 - accuracy: 0.4897 - val_loss: 0.6859 - val_accuracy: 0.7854
Epoch 11/100
34/34 [==============================] - 14s 418ms/step - loss: 0.6945 - accuracy: 0.4958 - val_loss: 0.6913 - val_accuracy: 0.7927
Epoch 12/100
34/34 [==============================] - 15s 450ms/step - loss: 0.6934 - accuracy: 0.4977 - val_loss: 0.6902 - val_accuracy: 0.7927
Epoch 13/100
34/34 [==============================] - 15s 438ms/step - loss: 0.6947 - accuracy: 0.4901 - val_loss: 0.7061 - val_accuracy: 0.2073
Epoch 14/100
34/34 [==============================] - 15s 435ms/step - loss: 0.6952 - accuracy: 0.4991 - val_loss: 0.7050 - val_accuracy: 0.2088
Epoch 15/100
34/34 [==============================] - 15s 454ms/step - loss: 0.6940 - accuracy: 0.4944 - val_loss: 0.6870 - val_accuracy: 0.7927
Epoch 16/100
34/34 [==============================] - 15s 432ms/step - loss: 0.6934 - accuracy: 0.4962 - val_loss: 0.6948 - val_accuracy: 0.2073
Epoch 17/100
34/34 [==============================] - 15s 439ms/step - loss: 0.6936 - accuracy: 0.4986 - val_loss: 0.6834 - val_accuracy: 0.7927
Epoch 18/100
34/34 [==============================] - 15s 429ms/step - loss: 0.6937 - accuracy: 0.4939 - val_loss: 0.6993 - val_accuracy: 0.2073
Epoch 19/100
34/34 [==============================] - 15s 433ms/step - loss: 0.6934 - accuracy: 0.4859 - val_loss: 0.7030 - val_accuracy: 0.2088
Epoch 20/100
34/34 [==============================] - 15s 441ms/step - loss: 0.6943 - accuracy: 0.4878 - val_loss: 0.6783 - val_accuracy: 0.7927
Epoch 21/100
34/34 [==============================] - 15s 433ms/step - loss: 0.6930 - accuracy: 0.5019 - val_loss: 0.6943 - val_accuracy: 0.2482
Epoch 22/100
34/34 [==============================] - 15s 440ms/step - loss: 0.6933 - accuracy: 0.4859 - val_loss: 0.6974 - val_accuracy: 0.2102
Epoch 23/100
34/34 [==============================] - 15s 451ms/step - loss: 0.6931 - accuracy: 0.4812 - val_loss: 0.6932 - val_accuracy: 0.2190
Epoch 24/100
34/34 [==============================] - 14s 426ms/step - loss: 0.6933 - accuracy: 0.4868 - val_loss: 0.6976 - val_accuracy: 0.2117
Epoch 25/100
34/34 [==============================] - 15s 430ms/step - loss: 0.6938 - accuracy: 0.4906 - val_loss: 0.7105 - val_accuracy: 0.2117
Epoch 26/100
34/34 [==============================] - 15s 436ms/step - loss: 0.6934 - accuracy: 0.5019 - val_loss: 0.6815 - val_accuracy: 0.7927
Epoch 27/100
34/34 [==============================] - 15s 437ms/step - loss: 0.6935 - accuracy: 0.4967 - val_loss: 0.7067 - val_accuracy: 0.2117
Epoch 28/100
34/34 [==============================] - 15s 447ms/step - loss: 0.6936 - accuracy: 0.4873 - val_loss: 0.7004 - val_accuracy: 0.2117
Epoch 29/100
34/34 [==============================] - 15s 436ms/step - loss: 0.6930 - accuracy: 0.4897 - val_loss: 0.7069 - val_accuracy: 0.2117
Epoch 30/100
34/34 [==============================] - 15s 430ms/step - loss: 0.6928 - accuracy: 0.5000 - val_loss: 0.6875 - val_accuracy: 0.7927
Epoch 31/100
34/34 [==============================] - 15s 445ms/step - loss: 0.6933 - accuracy: 0.4934 - val_loss: 0.6811 - val_accuracy: 0.7927
Epoch 32/100
34/34 [==============================] - 15s 428ms/step - loss: 0.6933 - accuracy: 0.5009 - val_loss: 0.6834 - val_accuracy: 0.7927
Epoch 33/100
34/34 [==============================] - 14s 414ms/step - loss: 0.6937 - accuracy: 0.4892 - val_loss: 0.7051 - val_accuracy: 0.2088
Epoch 34/100
34/34 [==============================] - 14s 410ms/step - loss: 0.6933 - accuracy: 0.4972 - val_loss: 0.6766 - val_accuracy: 0.7927
Epoch 35/100
34/34 [==============================] - 15s 427ms/step - loss: 0.6933 - accuracy: 0.4751 - val_loss: 0.6884 - val_accuracy: 0.7927
Epoch 36/100
34/34 [==============================] - 14s 418ms/step - loss: 0.6975 - accuracy: 0.4958 - val_loss: 0.7075 - val_accuracy: 0.7723
Epoch 37/100
34/34 [==============================] - 14s 422ms/step - loss: 0.6936 - accuracy: 0.4897 - val_loss: 0.7141 - val_accuracy: 0.7927
Epoch 38/100
34/34 [==============================] - 14s 411ms/step - loss: 0.6938 - accuracy: 0.4962 - val_loss: 0.6880 - val_accuracy: 0.7927
Epoch 39/100
34/34 [==============================] - 15s 434ms/step - loss: 0.6939 - accuracy: 0.4906 - val_loss: 0.6996 - val_accuracy: 0.2073
Epoch 40/100
34/34 [==============================] - 14s 414ms/step - loss: 0.6934 - accuracy: 0.5000 - val_loss: 0.6940 - val_accuracy: 0.2073
Epoch 41/100
34/34 [==============================] - 14s 407ms/step - loss: 0.6933 - accuracy: 0.5000 - val_loss: 0.6869 - val_accuracy: 0.7927
Epoch 42/100
34/34 [==============================] - 14s 403ms/step - loss: 0.6938 - accuracy: 0.5085 - val_loss: 0.6982 - val_accuracy: 0.2073
Epoch 43/100
34/34 [==============================] - 14s 415ms/step - loss: 0.6934 - accuracy: 0.4901 - val_loss: 0.6918 - val_accuracy: 0.7927
Epoch 44/100
34/34 [==============================] - 14s 419ms/step - loss: 0.6937 - accuracy: 0.4793 - val_loss: 0.6908 - val_accuracy: 0.7927
Epoch 45/100
34/34 [==============================] - 14s 414ms/step - loss: 0.6936 - accuracy: 0.4962 - val_loss: 0.6960 - val_accuracy: 0.2073
Epoch 46/100
34/34 [==============================] - 14s 409ms/step - loss: 0.6930 - accuracy: 0.4821 - val_loss: 0.7130 - val_accuracy: 0.2088
Epoch 47/100
34/34 [==============================] - 15s 432ms/step - loss: 0.6965 - accuracy: 0.4934 - val_loss: 0.7316 - val_accuracy: 0.7796
Epoch 48/100
34/34 [==============================] - 14s 425ms/step - loss: 0.6993 - accuracy: 0.4920 - val_loss: 0.7204 - val_accuracy: 0.2263
Epoch 49/100
34/34 [==============================] - 14s 406ms/step - loss: 0.6946 - accuracy: 0.4944 - val_loss: 0.6084 - val_accuracy: 0.7839
Epoch 50/100
34/34 [==============================] - 15s 432ms/step - loss: 0.6931 - accuracy: 0.4986 - val_loss: 0.7212 - val_accuracy: 0.7912
Epoch 51/100
34/34 [==============================] - 16s 467ms/step - loss: 0.6938 - accuracy: 0.4995 - val_loss: 0.7257 - val_accuracy: 0.2482
Epoch 52/100
34/34 [==============================] - 16s 481ms/step - loss: 0.6939 - accuracy: 0.4925 - val_loss: 0.6896 - val_accuracy: 0.7927
Epoch 53/100
34/34 [==============================] - 16s 474ms/step - loss: 0.6935 - accuracy: 0.4925 - val_loss: 0.6847 - val_accuracy: 0.7927
Epoch 54/100
34/34 [==============================] - 15s 447ms/step - loss: 0.6936 - accuracy: 0.4995 - val_loss: 0.6916 - val_accuracy: 0.7927
Epoch 55/100
34/34 [==============================] - 14s 426ms/step - loss: 0.6933 - accuracy: 0.4901 - val_loss: 0.6924 - val_accuracy: 0.7927

Epoch 56/100
34/34 [==============================] - 14s 410ms/step - loss: 0.6933 - accuracy: 0.4939 - val_loss: 0.6950 - val_accuracy: 0.2088
Epoch 57/100
34/34 [==============================] - 15s 455ms/step - loss: 0.6934 - accuracy: 0.4845 - val_loss: 0.6923 - val_accuracy: 0.7927
Epoch 58/100
34/34 [==============================] - 15s 449ms/step - loss: 0.6939 - accuracy: 0.4868 - val_loss: 0.7029 - val_accuracy: 0.2073
Epoch 59/100
34/34 [==============================] - 15s 450ms/step - loss: 0.6938 - accuracy: 0.4934 - val_loss: 0.6921 - val_accuracy: 0.7927
Epoch 60/100
34/34 [==============================] - 16s 460ms/step - loss: 0.6936 - accuracy: 0.5019 - val_loss: 0.7104 - val_accuracy: 0.2204
Epoch 61/100
34/34 [==============================] - 15s 449ms/step - loss: 0.6935 - accuracy: 0.4958 - val_loss: 0.6899 - val_accuracy: 0.7693
Epoch 62/100
34/34 [==============================] - 15s 450ms/step - loss: 0.6932 - accuracy: 0.4925 - val_loss: 0.6986 - val_accuracy: 0.2073
Epoch 63/100
34/34 [==============================] - 16s 475ms/step - loss: 0.6933 - accuracy: 0.4906 - val_loss: 0.6917 - val_accuracy: 0.7927
Epoch 64/100
34/34 [==============================] - 16s 465ms/step - loss: 0.6934 - accuracy: 0.4981 - val_loss: 0.6961 - val_accuracy: 0.2088
Epoch 65/100
34/34 [==============================] - 15s 455ms/step - loss: 0.6934 - accuracy: 0.4953 - val_loss: 0.6887 - val_accuracy: 0.7927
Epoch 66/100
34/34 [==============================] - 15s 452ms/step - loss: 0.6933 - accuracy: 0.4939 - val_loss: 0.6887 - val_accuracy: 0.7927
Epoch 67/100
34/34 [==============================] - 15s 448ms/step - loss: 0.6928 - accuracy: 0.4962 - val_loss: 0.6926 - val_accuracy: 0.2102
Epoch 68/100
34/34 [==============================] - 15s 450ms/step - loss: 0.6932 - accuracy: 0.4826 - val_loss: 0.6911 - val_accuracy: 0.2102
Epoch 69/100
34/34 [==============================] - 15s 455ms/step - loss: 0.6927 - accuracy: 0.4859 - val_loss: 0.6927 - val_accuracy: 0.2102
Epoch 70/100
34/34 [==============================] - 16s 484ms/step - loss: 0.6929 - accuracy: 0.5033 - val_loss: 0.6866 - val_accuracy: 0.7927
Epoch 71/100
34/34 [==============================] - 16s 463ms/step - loss: 0.6934 - accuracy: 0.4845 - val_loss: 0.6923 - val_accuracy: 0.2102
Epoch 72/100
34/34 [==============================] - 15s 452ms/step - loss: 0.6927 - accuracy: 0.4854 - val_loss: 0.6935 - val_accuracy: 0.2102
Epoch 73/100
34/34 [==============================] - 15s 454ms/step - loss: 0.6929 - accuracy: 0.5042 - val_loss: 0.6843 - val_accuracy: 0.7927
Epoch 74/100
34/34 [==============================] - 15s 454ms/step - loss: 0.6927 - accuracy: 0.4920 - val_loss: 0.6945 - val_accuracy: 0.2102
Epoch 75/100
34/34 [==============================] - 16s 460ms/step - loss: 0.6930 - accuracy: 0.5005 - val_loss: 0.6926 - val_accuracy: 0.7927
Epoch 76/100
34/34 [==============================] - 16s 458ms/step - loss: 0.6935 - accuracy: 0.5000 - val_loss: 0.6904 - val_accuracy: 0.7927
Epoch 77/100
34/34 [==============================] - 15s 451ms/step - loss: 0.6929 - accuracy: 0.4817 - val_loss: 0.6869 - val_accuracy: 0.7927
Epoch 78/100
34/34 [==============================] - 16s 473ms/step - loss: 0.6942 - accuracy: 0.4995 - val_loss: 0.6990 - val_accuracy: 0.2073
Epoch 79/100
34/34 [==============================] - 16s 475ms/step - loss: 0.6943 - accuracy: 0.4972 - val_loss: 0.6896 - val_accuracy: 0.7927
Epoch 80/100
34/34 [==============================] - 16s 465ms/step - loss: 0.6940 - accuracy: 0.4944 - val_loss: 0.6980 - val_accuracy: 0.2073
Epoch 81/100
34/34 [==============================] - 16s 456ms/step - loss: 0.6936 - accuracy: 0.5047 - val_loss: 0.6929 - val_accuracy: 0.7927
Epoch 82/100
34/34 [==============================] - 16s 466ms/step - loss: 0.6932 - accuracy: 0.4981 - val_loss: 0.7011 - val_accuracy: 0.2073
Epoch 83/100
34/34 [==============================] - 16s 464ms/step - loss: 0.6934 - accuracy: 0.4934 - val_loss: 0.6908 - val_accuracy: 0.7927
Epoch 84/100
34/34 [==============================] - 15s 447ms/step - loss: 0.6936 - accuracy: 0.4868 - val_loss: 0.6905 - val_accuracy: 0.7927
Epoch 85/100
34/34 [==============================] - 16s 460ms/step - loss: 0.6934 - accuracy: 0.4981 - val_loss: 0.6937 - val_accuracy: 0.2073
Epoch 86/100
34/34 [==============================] - 15s 445ms/step - loss: 0.6933 - accuracy: 0.4878 - val_loss: 0.6965 - val_accuracy: 0.2073
Epoch 87/100
34/34 [==============================] - 15s 442ms/step - loss: 0.6937 - accuracy: 0.4831 - val_loss: 0.6954 - val_accuracy: 0.2073
Epoch 88/100
34/34 [==============================] - 18s 537ms/step - loss: 0.6933 - accuracy: 0.4944 - val_loss: 0.6912 - val_accuracy: 0.7927
Epoch 89/100
34/34 [==============================] - 20s 577ms/step - loss: 0.6935 - accuracy: 0.4925 - val_loss: 0.6927 - val_accuracy: 0.7927
Epoch 90/100
34/34 [==============================] - 19s 559ms/step - loss: 0.6932 - accuracy: 0.4915 - val_loss: 0.6916 - val_accuracy: 0.7927
Epoch 91/100
34/34 [==============================] - 19s 561ms/step - loss: 0.6933 - accuracy: 0.5000 - val_loss: 0.6928 - val_accuracy: 0.7927
Epoch 92/100
34/34 [==============================] - 16s 467ms/step - loss: 0.6933 - accuracy: 0.5028 - val_loss: 0.6964 - val_accuracy: 0.2073
Epoch 93/100
34/34 [==============================] - 20s 586ms/step - loss: 0.6934 - accuracy: 0.4793 - val_loss: 0.6941 - val_accuracy: 0.2073
Epoch 94/100
34/34 [==============================] - 19s 573ms/step - loss: 0.6933 - accuracy: 0.4850 - val_loss: 0.6936 - val_accuracy: 0.2073
Epoch 95/100
34/34 [==============================] - 15s 454ms/step - loss: 0.6936 - accuracy: 0.4972 - val_loss: 0.6947 - val_accuracy: 0.2073
Epoch 96/100
34/34 [==============================] - 16s 468ms/step - loss: 0.6937 - accuracy: 0.5000 - val_loss: 0.6963 - val_accuracy: 0.2073
Epoch 97/100
34/34 [==============================] - 17s 500ms/step - loss: 0.6936 - accuracy: 0.4925 - val_loss: 0.6888 - val_accuracy: 0.7927
Epoch 98/100
34/34 [==============================] - 16s 458ms/step - loss: 0.6934 - accuracy: 0.4821 - val_loss: 0.6961 - val_accuracy: 0.2073
Epoch 99/100
34/34 [==============================] - 15s 447ms/step - loss: 0.6934 - accuracy: 0.5000 - val_loss: 0.6984 - val_accuracy: 0.2073
Epoch 100/100
34/34 [==============================] - 15s 455ms/step - loss: 0.6934 - accuracy: 0.4962 - val_loss: 0.6853 - val_accuracy: 0.7927